/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .navbar-brand span {
    font-size: 1.5rem;
  }
  
  .nav-link {
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #0056b3;
  }
  
  /* Hero Section */
  header {
    background-image: linear-gradient(to bottom right, #004d73, #004d73);
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Card Styles */
  .card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-body {
    text-align: center;
  }
  
  .btn-primary {
    background-color: #004d73;
    border: none;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0075a3;
  }
  
  /* Footer */
  footer {
    background-color: #111;
    font-size: 0.9rem;
  }
  
