
li img {
    height: 40px; 
    width: 120%; 
    padding: 5px; 
    margin-right: 20px; 
}
.custom-navbar {
    background-color: #323353 !important;
    width: 100vw;
    height: 70px;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0px 2px 12px 0 rgba(255, 255, 255, 0.5);
    transition: height 0.5s ease-in-out;
    display: flex;
    color: white !important;
    z-index: 1000;
}

.custom-navbar .navbar-brand {
    color: white !important;
    font-weight: bold;
}

.custom-navbar .navbar-nav {
    flex-direction: row;
    gap: 30px;
}

.custom-navbar .nav-link {
    color: white !important;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.custom-navbar .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.custom-navbar .nav-link:hover::after,
.custom-navbar .nav-link:focus::after {
    width: 100%;
}
